---
import Layout from '../layouts/Layout.astro'
import {config} from '../config';

---

<Layout>
  <div slot="sidebar">
    <div class="text-center text-balance text-gray-600 mb-8 gap-4 flex flex-col">
      <p>Hi! I'm Daniel Rivas, a.k.a. Ninja.</p>
      <p>I'm an interdisciplinary artist with over 15 years of experience in 3D Art and Motion Graphics.</p>
      <p>Currently based in Buenos Aires, Argentina.</p>
    </div>
  
    <div class="flex flex-col gap-2">
      <a class="btn btn-secondary" target="_blank" href={config.social.behance}>Behance</a>
      <a class="btn btn-secondary" target="_blank" href={config.social.instagram}>Instagram</a>
      <a class="btn btn-secondary" target="_blank" href={config.social.vimeo}>Vimeo</a>
      <!-- <a class="btn btn-secondary" target="_blank" href={config.social.youtube}>YouTube</a> -->
      
      <hr class="my-4 border-gray-200" />
      
      <a href=`mailto:${config.email}?subject=Web Contact` class="btn btn-primary">Message</a>
  
      <p class="text-center uppercase text-sm font-semibold mt-4 text-gray-500">I'm available for hire</p>
    </div>
  </div>
</Layout>
