---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
import PostDate from '../components/PostDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import PostThumbnail from '../components/PostThumbnail.astro'
import PostExcerpt from '../components/PostExcerpt.astro'
import ReadMoreLink from '../components/ReadMoreLink.astro'
import Pagination from '../components/Pagination.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import { getNavLink, getStaticFilePath, filePath } from '../lib/blog-helpers.ts'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
getPosts(NUMBER_OF_POSTS_PER_PAGE),
getRankedPosts(),
getAllTags(),
getNumberOfPages(),
])
---

<Layout>
  
  <div slot="main" class="mt-10 grid lg:grid-cols-2 gap-6 mx-auto max-w-md lg:max-w-full">
    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
      posts.map((post) => (
        <div key={post.Slug} class="flex flex-col gap-2">
          <PostThumbnail post={post} />
          {/* <PostDate post={post} /> */}
          {/* <PostTitle post={post} /> */}
          {/* <PostExcerpt post={post} /> */}
          {/* <PostTags post={post} /> */}
          {/* <ReadMoreLink post={post} /> */}
        </div>
      )))
    }
  </div>
  
  <div slot="aside">
    <Pagination currentPage={1} numberOfPages={numberOfPages} />
    <!-- <BlogPostsLink heading="Recommended" posts={rankedPosts} /> -->
    <!-- <BlogTagsLink heading="Categories" tags={tags} /> -->
  </div>  
</Layout>
