---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import '../styles/syntax-coloring.css'

import { PUBLIC_GA_TRACKING_ID, ENABLE_LIGHTBOX } from '../server-constants.ts'
import { getDatabase } from '../lib/notion/client.ts'
import { getNavLink, getStaticFilePath, filePath } from '../lib/blog-helpers.ts'
import GoogleAnalytics from '../components/GoogleAnalytics.astro'

export interface Props {
  title?: string
  description?: string
  path?: string
  ogImage?: string
}

const { title = '', description = '', path = '/', ogImage = '' } = Astro.props

const database = await getDatabase()

const siteTitle = title ? `${title} - ${database.Title}` : database.Title
const siteDescription = description ? description : database.Description
const siteURL = new URL(getNavLink(path), Astro.site).toString()
const siteOGImage = new URL(
  getStaticFilePath('/default-og-image.png'),
  Astro.site
)

let coverImageURL: string
if (database.Cover) {
  console.log("🚀 ~ database.Cover:", database.Cover)
  if (database.Cover.Type === 'external') {
    coverImageURL = database.Cover.Url
  } else if (database.Cover.Type === 'file') {
    try {
      coverImageURL = database.Cover.Url
      // coverImageURL = filePath(new URL(database.Cover.Url))
    } catch (err) {
      console.log('Invalid DB cover image URL')
    }
  }
}

let customIconURL: string
if (database.Icon && database.Icon.Type === 'file') {
  try {
    customIconURL = filePath(new URL(database.Icon.Url))
  } catch (err) {
    console.log('Invalid DB custom icon URL')
  }
}
---

<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="max-image-preview:large" />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <link rel="canonical" href={siteURL} />
    <meta property="og:url" content={siteURL} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:site_name" content={database.Title} />
    <meta property="og:image" content={ogImage || siteOGImage} />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImage || siteOGImage} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
      crossorigin="anonymous"
    />
  </head>

  <body class="antialiased">
    <GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
    
      {
        coverImageURL && (
          <div class="cover">
            <img src={coverImageURL} alt="Site cover image" loading="lazy" />
          </div>
        )
      }

      <div class="lg:flex gap-10 container">
        <header class="-mt-10 z-20 mx-auto max-w-md border border-gray-200 rounded bg-white relative">
          <div class="sticky top-0 p-10 flex flex-col gap-8">

            <figure class="logo self-center">
              <a href={getNavLink('/')} class="rounded-full">
                <img src="/daninjafx-logo.jpg" alt={database.Title} class="rounded-full" />
              </a>
            </figure>
    
            <p class="text-center text-balance text-gray-600">Hi! I'm Daniel Rivas, a.k.a. Ninja. I'm an interdisciplinary artist with an extensive background in 3D Art and Motion Graphics, over 15 years. Currently based in Buenos Aires, Argentina.</p>
            
            <div class="flex flex-col gap-2">
              <a class="btn btn-secondary" target="_blank" href="https://www.instagram.com/daninjafx/">Instagram</a>
              <a class="btn btn-secondary" target="_blank" href="https://behance.net/daninjafx">Behance</a>
              <a class="btn btn-secondary" target="_blank" href="https://vimeo.com/daninjafx">Vimeo</a>
              <!-- <a class="btn btn-secondary" target="_blank" href="https://www.youtube.com/channel/UCYKmKKXAJo55_Q0-Ct_lZsA/videos?view_as=subscriber">YouTube</a> -->
              
              <hr class="my-4 border-gray-200" />
              
              <a href="mailto:daninjafx@gmail.com?subject=Web Contact" class="btn btn-primary">Message</a>

              <p class="text-center uppercase text-sm font-semibold mt-4 text-gray-500">I'm available for hire</p>
            </div>
          </div>
        </header>

        <slot name="main" />
      </div>
      
      <footer class="p-10 text-center flex flex-col gap-8 justify-center items-center">
        <nav>
          <a href="/works" class="hover:underline text-sm">Selected Works</a>
        </nav>
        
        <div class="text-sm">
          <a href="https://www.instagram.com/daninjafx"><span aria-details="Daniel Rivas">🥷 Daniel Rivas</span></a>. Last update, 2024.
        </div>
      </footer>

    {
      ENABLE_LIGHTBOX && (
        <script src={getStaticFilePath('/scripts/fslightbox.js')} />
      )
    }
  </body>
</html>